<h3>HELLO THERE!</h3>

<p>This is your dashboard to translate and learn dialect the convenient way!</p>


<div class="container-fluid borderBox space">
  <h3> Words </h3>
  <!-- {{paper-autocomplete minLength=0 delay=300 placeholder="Search for translation" source=dataFromPromise lookupKey="name" model=model.phrases cache-miss="updateFilter"}} -->
  <div class="row">
    <div class="row space">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center"><span class="spanRed">Type/search in the below box for words you would like to be translated</span></div>
  <div class="col-md-3"></div>
</div>
</div>
  <div class="row">
      <div class="col-md-3"></div>
    <div class="col-md-6">{{show-phrases translations=model.translations phrases=model.phrases}}</div>
  <div class="col-md-3"></div>
  </div>
<!-- <p class="text-center">Find the word:<br></p> -->


    <!-- <div class="col-md-6"><p class="text-center">Translate into<br>{{show-translations translations=model.translations}}</p></div> -->
  </div>

  <!-- <div class="text-center">
    <button type="submit" class="md-button Pastelgreen" {{action 'searchPhrases' model}}>Search</button>
  </div> -->
  <!-- <div>
    <h4> Results </h4>
    {{phrase_results}}
  </div> -->
  <!--
  {{#each model.phrases as |phrase|}}

  {{/each}}

  {{#each model.phrases as |phrases|}}

  {{phrases.name}}

  {{/each}} -->


<!-- <div class="container-fluid bg-2">
  <h3> Contribute </h3>
  {{create-translation model=model.translations}} -->
  <!-- {{paper-autocomplete minLength=0 delay=300 placeholder="Search for translation" source=dataFromPromise lookupKey="name" model=model.phrases cache-miss="updateFilter"}} -->

  <!--
  {{#each model.phrases as |phrase|}}

  {{/each}}

  {{#each model.phrases as |phrases|}}

  {{phrases.name}}

  {{/each}} -->
<!-- </div> -->

<!-- <div class="container-fluid bg-1">
</div> -->
