<nav id="custom-bootstrap-menu" class="navbar navbar-default"  style="background-color:white !important;">
  <div class="container" style="background-color:white;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll" style="background-color:white;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brand" href="/">
        saywhat?
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <!-- <%= link_to 'All Resumary', all_path %> -->
          {{#link-to 'dashboard'}} {{paper-icon "book"}} Dictionary{{/link-to}}

        </li>
        <!-- <li class="page-scroll"> -->
          <!-- <%= link_to 'All Resumary', all_path %> -->
          <!-- {{#link-to 'phrases.create'}} {{paper-icon "book"}} Create Phrases{{/link-to}}

        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Phrases {{paper-icon "arrow-drop-down-circle"}}</a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'phrases.index'}} {{paper-icon "folder"}} Phrases Dictionary{{/link-to}}</li>
            <!-- <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li> -->
            <li role="separator" class="divider"></li>
            <li>{{#link-to 'phrases.create'}} {{paper-icon "create"}} Create Phrases{{/link-to}}</li>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Translation {{paper-icon "arrow-drop-down-circle"}}</a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'translations.index'}} {{paper-icon "folder"}} Translated Dictionary{{/link-to}}</li>
            <!-- <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li> -->
            <!-- <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
        <li class="page-scroll">
          <!-- <%= link_to 'All Resumary', all_path %> -->
          {{#link-to 'login'}}{{ paper-icon "face"}} Login{{/link-to}}
        </li>
        <li class="page-scroll">
          <a href="#" {{action 'logout'}}>  {{paper-icon "clear"}}Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>

  <!-- /.container-fluid -->
</nav>
